{% load static %}

<!--<link rel="shortcut icon" href="{% static  'img/logo.png' %}" type="image/x-icon"/>-->

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

<!-- Font-Awesome CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />

<!-- morris CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/morris.css' %}" />

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<!-- Spinner CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/spinners.css' %}" />


<!-- Upload Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/blue-dark.css' %}" id="theme" />


