    {% load static %}
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
            <a class="logo" href="/">
                <b>
                    <img src="{% static 'img/logo.png' %}" class="dark-logo" />
                </b>
                <span class="hidden-xs">
                    <img src="{% static 'img/logo_title.png' %}" alt="home" class="dark-logo" />
                </span> 
            </a>
        </div>
    </div>
</nav>